*{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

nav {
    height: 45px;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
}

body {
    font-family: "Segoe", sans-serif;
    background-color: #6e70ed;
}